@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

body {
    background-color: #fff;
    width: 90%;
    max-width: 576px;
    margin: 0 auto;
    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #070b8a;
}

p {
    line-height: 50%;
}

select {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    cursor: default;
}

table {
    display: none;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td,
th {
    width: 10vw;
    padding: 0.3rem 0.5rem 0.3rem;
}

th {
    font-weight: bold;
}

table.visible {
    display: block;
}

tr.title-row {
    border: none;
}

td.channel-name {
    width: 70vw;
    padding: 0 4vw 0;
}

button {
    font-family: "Pretendard", sans-serif;
    font-size: 0.9rem;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
    transition: filter 0.3s;

    -webkit-filter: brightness(90%);
    -webkit-transition: filter 0.3s;
}

header,
footer {
    display: block;
    background-color: orange;
    margin: 2rem 0;
}

header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

nav {
    margin: 1rem 0;
}

.site-name {
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.site-name:before {
    content: "";
    display: inline-block;
    background-image: url(images/logo-darkTR.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
}

#city-select {
    width: 7.5rem;
    height: 2rem;
    font-family: "Pretendard", sans-serif;
    font-size: 0.9rem;
    padding: 7px 20px 7px 7px;
    border: 1px solid #999;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 9px;
    color: #333;
}

#city-select:hover {
    border-color: #777;
}

.channel-is-community a {
    text-decoration: underline;
}

.channel-is-community::before {
    content: "ã€€";
    color: transparent;
    text-decoration: none;
    background-image: url(images/community.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.button-area {
    display: grid;
    place-items: center;
}

.button-area button {
    padding: 0.35rem 0.75rem;
    margin: 0.35rem;
}

.button-area a {
    color: black;
}

.copyright a {
    color: #040b8a;
    text-decoration: underline;
}

.contact {
    color: #999;
}

.contact a {
    color: #999;
    text-decoration: underline;
}

.contact a:hover {
    text-decoration: underline;
}

@media (min-width: 576px) {
    body {
        max-width: 576px;
    }
}
