body { background-color: #FFF; }

table, th, td, tr {
    border-collapse: collapse;
    border: 1px solid #000;
}

a { text-decoration: none; }

table, table.hidden { display: none; }

table.visible { display: table-row; }

th { width: 50px; }

td.title { width: 190px; }

td.link { text-align: center; }